.card{
    width:700px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding : 20px 50px;
    background-color: white;
    position: relative;
}

.tab-title{
    width: 50%;
    border:none;
    height:40px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
}

